<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="API URL" value="http://evilapi.afdcloud.com.au"/>
    <add key="Property" value="Allen George"/>
  </appSettings>
 
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  
    
  </system.web>
  
</configuration>